@import url('https://fonts.googleapis.com/css?family=Signika:400,700');

/* -----------GENERAL STYLE----------- */

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  font-family: 'Signika', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1 {
  letter-spacing: 0.2em;
  font-weight: 700;
}
